@media all and (max-width: 850px) {
  .contain {
    	width: 100% !important;
  }

	table {
			width: 100% !important;
	}

  select, input {
      width: 85% !important;
  }
}

body {
	/* background-color: #757575;
	color: #fff; */
}

table {
	width: 400px;
}

select, input {
		width: 250px;
		float: left;
		margin: 0 5px 0 0;
}

.title {
		margin: 0 0 10px 0;
		border-bottom: thin dotted grey;
		width: 100%;
}

.contain {
		width: 50%;
}

.border-top {
		border-top: thin dotted grey;
}

.border-bottom {
		border-bottom: thin dotted grey;
}

.dim {
		opacity: .95;
}

#welcome {
	background-color: #f5faff;
}
