
    <%= render 'new_word_links' %>


    <div id="words">
        <%= render @words %>
    </div>





<script>
    // remove header drop effect
    $('header#home-drop').removeAttr('id');


</script>


