
	<nav role="dashboard">
    	<%= render 'dashboard' %>
    </nav>


    <div id="words">
        <%= render @words %>
    </div>





<script>
    // remove header drop effect
    $('header#home-drop').removeAttr('id');

    // autodisplay search form
    $('a#new-word-link').trigger('click');
</script>


