

    <% # Loop through word elements %>
    <p><%= @word.id %></p>
    <p><%= @word.word %></p>




<script>
    // remove header drop effect
    $('header#home-drop').removeAttr('id');

</script>


