
  <div ng-controller="MainCtrl">

    <!-- add a list -->
    <div class="contain">
        <p class="title">Add a new list:</p>
        <form ng-submit="addList()">
          <input type="text" ng-model="title" placeholder="List name"></input>
          <button type="submit">Add</button>
        </form>
    </div>
    <!-- end add -->

    <!-- list all lists -->
    <div class="contain">
        <p class="title">Select list:</p>
        <select ng-model="list" ng-options="list as list.title for list in lists">
            <option value="">Select List</option>
        </select>
        <!-- end list -->

        <!-- delete list -->
        <form ng-submit="deleteList($index)">
          <button type="submit">Delete</button>
        </form>
        <!-- end delete -->
    </div>

      <div ng-class="{visible: list, dim: !list}" class="contain">
          <p class="title">Add words:</p>
          <!-- add word -->
          <form ng-submit="addWord()">
            <input ng-disabled="!list" type="text" ng-model="$parent.word" placeholder="Enter words"></input>
            <button ng-disabled="!list" type="submit">Add</button>
          </form>
          <!-- end add -->
      </div>

      <!-- if no words in list -->
      <div ng-if="list.words.length === 0">
        <p>[ no words ]</p>
      </div>
      <!-- end if -->

      <!-- words in list -->
      <div ng-repeat="word in list.words" class="contain border-bottom">

        <p>{{ word.title }}</p>
        <p>{{ word.date }}</p>

          <!-- definitions -->
          <ol ng-repeat="w in word.definitions">
            <li>{{ w.meaning }}</li>
            <!-- examples -->
            <ul>
                <li>{{ w["examples"][0] }}</li>
            </ul>
          </ol>

          <!-- delete word -->
          <form ng-submit="deleteWord($index)">
            <button type="submit">Delete</button>
          </form>
          <!-- end delete -->

      </div>
      <!-- end words -->

  </div>
