/* Page Transitions */
/* Author: Marco Folio */
/* Modified 03/10/14 by Kyle Belanger */

.loader { 
    display: none; 
    width:52px; 
    height:32px; 
    margin: 25px 0;
}
 
/* Initial state */
.bar {
    float:left;
    width:6px; 
    height:18px;
    background-color:#99aaca; 
    border:1px solid #96a6c9;
    margin: 6px 4px 0 0;
    
    /* Set the animation properties */
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: loadingbar;
}
 
/* Delay both the second and third bar at the start */
.loader .bar:nth-child(2) { -webkit-animation-delay: 0.1s; }
.loader .bar:nth-child(3) { -webkit-animation-delay: 0.2s; }
 
/* The actual animation */
@-webkit-keyframes loadingbar {
     0% { }
    10% { margin-top:5px; height:22px; border-color:#d1d8e6; background-color:#bac5db; }
    20% { margin-top:0px; height:32px; border-color:#d1d7e2; background-color:#c6ccda; }
    30% { margin-top:1px; height:30px; border-color:#d1d8e6; background-color:#bac5db; }
    40% { margin-top:3px; height:26px; }
    50% { margin-top:5px; height:22px; }
    60% { margin-top:6px; height:18px; }
    70% { }
    /* Missing frames will cause the extra delay */
    100% { }
}

.bar {
	background-color: #99aaca;
	border: 1px solid #96a6c9;
	float: left;
	margin-right: 4px;
	margin-top: 6px;
	width: 6px;
	height: 18px;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: loadingbar;
}
