
    <% # Loop through word elements %>
    <% @word.each do |element|  %>
 

        <p class="word">                <%= element["primaries"][0]["terms"][0]["text"] %> </p>

        <% # Create sound variable for link %>
        <% sound = element["primaries"][0]["terms"][2]["text"] %>

        
            <p class="word-pronounce"><%= element["primaries"][0]["terms"][1]["text"] %></p>

             
        <p class="speech">              <%= element["primaries"][0]["terms"][0]["labels"][0]["text"] %></p>

           <ol>    
              <li role="definition">    <%= element["primaries"][0]["entries"][0]["terms"][0]["text"] %> </li>
          </ol>

          
    <% end %>
    <% # End loop %> 

