
    <% # Loop through word elements %>
    <% @word.each do |element|  %>
 
        <p class="word"> <%= element["primaries"][0]["terms"][0]["text"] %> </p>
        <p class="speech"> <%= element["primaries"][0]["terms"][0]["labels"][0]["text"] %> </p>        

        <ol>
          <% # Set nil definition for first evaluation %>
          <% previous = nil %> 
          
          <% # Loop through definitions (first two) %>
          <% element["primaries"][0]["entries"].first(3).each do |word| %>
            
            <%  # Set definition and example variables %>
            <%  definition = word["terms"][0]["text"] %>
            <%  example    = word["entries"][0]["terms"][0]["text"] rescue false %>

              <% # Ensure definition exists and is not the same as first %>
              <% if (definition rescue false) != false && definition != previous %>

                 <li role="definition"> <%= definition %> </li>

                  <% if (example rescue false) != false %>
                    <p style="color: dark-grey;">"<%= example %>"</p>
                  <% end %>
              <% end %>

            <% # Variable to hold first definition (for recursive evaluations) %>
            <% previous = element["primaries"][0]["entries"][0]["terms"][0]["text"] %>

          <% end%>  
        </ol> 

    <% end %>
    <% # End word loop %> 


