	<% provide(:title, "Home") %>

	<!-- start search -->
	<div class="search">
		<abbr title="Search">
		
		<%= form_tag("/search", method: "get") do %>
		    <%= text_field_tag :search, params[:search], :class => "search-form", 
		    		:placeholder => 'Enter words to find definitions...', :autofocus => true %>
		    
		    <%= submit_tag nil, :class => "search-glass", :src => "search-icon.png", :type => "image" %>
		<% end %>

		</abbr>									
	</div>
	<!-- /search -->

	<!-- welcome message -->
	<div id="welcome-message">
		
		<p>Welcome,</p>
		<p>Diction allows you to create and store vocabulary lists...</p>
		
		<p style="margin-top: 25px;" class="grey-text">
			[ <span class="underline-hover">continue reading...</span> ]
		</p>
		
			<!-- continue reading -->
			<section id="continue-reading">
				
				<div class="read-more">
					<p>Group and organize vocabulary terms into lists, making them easier to study, review, and learn.</p>
				</div>

			</section>
			<!-- /continue reading -->
		
	</div>
	<!-- /welcome message -->

	<!-- start footer -->
	<footer>
		<div id="footer-container"><hr>

			<span>( source )</span>
			<span>( @blnr )</span>

		</div>
	</footer>
	<!-- /footer -->



<span class="lr_dct_spkr lr_dct_spkr_off" title="Listen" jsaction="dob.p" data-log-string="pronunciation-icon-click" style="display: inline-block;">

<input src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcUlEQVQ4y2P4//8/AyUYQhAH3gNxA7IAIQPmo/H3g/QA8XkgFiBkwHyoYnRQABVfj88AmGZcTuuHyjlgMwBZM7IE3NlQGhQe65EN+I8Dw8MLGgYoFpFqADK/YUAMwOsFigORatFIlYRElaRMWmaiBAMAp0n+3U0kqkAAAAAASUVORK5CYII=" height="16" type="image" width="16" style="height:16px;width:16px">

<audio src="http://www.gstatic.com/dictionary/static/sounds/de/0/ominous.mp3" data-dobid="aud" oncanplaythrough="this.parentNode.style.display = 'inline-block'" preload="auto"></audio>

</span>