	<% provide(:title, "Home") %>

	<!-- start search -->
	<div class="search">
		<abbr title="Search">
		
		<%= form_tag("/search", method: "get") do %>
		    <%= text_field_tag :search, params[:search], :class => "search-form", 
		    		:placeholder => 'Enter words to find definitions...', :autofocus => true %>

		    <%= submit_tag nil, :class => "search-glass", :src => "search-icon.png", :type => "image" %>
		<% end %>

		</abbr>									
	</div>
	<!-- /search -->

	<!-- welcome message -->
	<div id="welcome-message">
		
		<p>Welcome,</p>
		<p>Search multiple vocabulary words from Google's Definition API...</p>
		
		<p style="margin-top: 25px;" class="grey-text">
			[ <a class="underline-hover" href="http://github.com/blnr/Diction#readme">continue reading...</a> ]
		</p>
		
	</div>
	<!-- /welcome message -->

	<!-- page transition -->
	<div class="loader">
	    <div class="bar"></div>
	    <div class="bar"></div>
	    <div class="bar"></div>
	</div>
	<!-- /page transition -->

	<!-- start footer -->
	<footer>
		<div id="footer-container"><hr>

			<span>( source )</span>
			<span>( @kylesb )</span>

		</div>
	</footer>
	<!-- /footer -->