<% provide(:title, "Vocabulary Expansion") %>

<!-- start search -->
<div class="search">
	<form action="/search" method="get">
		
		<input id="search-typing" type="text" name="keyword" 
				placeholder="Enter terms to search..." autofocus="true">
		<abbr title="Search">
			<input class="search-glass" type="image" 
					name="submit" src="search-icon.png">
		</abbr>
		
	</form>												
</div>
<!-- /search -->

<!-- welcome message -->
<div id="welcome-message">
	
	<p>Welcome,</p>
	<p>Diction allows you to create and store vocabulary lists...</p>
	
	<p style="margin-top: 25px;" class="grey-text">
		[ <span class="underline-hover">continue reading...</span> ]
	</p>
	
		<!-- continue reading -->
		<section id="continue-reading">
			
			<div class="read-more">
				<img src="files/img/index/papers.png"><br>
				<p class="blue">Group and organize vocabulary terms into lists, making them easier to study, review, and learn.</p>
			</div>

		</section>
		<!-- /continue reading -->
	
</div>
<!-- /welcome message -->

<!-- start footer -->
<footer>
	<div id="footer-container"><hr>

		<span>( source )</span>
		<span>( @lblnr )</span>

	</div>
</footer>
<!-- /footer -->