<% provide(:title, "Search") %>



    <% # Loop through word elements %>
    <% @word.each do |element|  %>
            
        <h1><%= element["word"] %></h1>
           
        <i><%= element["partOfSpeech"] %></i>
        
            <ol>
                <li><%= element["text"] %></li>
            </ol>

    <% end %>
    <% # End loop %>




    <!-- remove header drop effect -->
    <script>
    	$('header#home-drop').removeAttr('id');
    </script>

