
    <% # Loop through word elements %>
    <% @word.each do |element|  %>


               
                <p class="word">            <%= element["primaries"][0]["terms"][0]["text"] %> </p>

                <ol>
                     <li role="definition"> <%= element["primaries"][0]["entries"][1]["terms"][0]["text"] %> </li>
                </ol>



    <% end %>
    <% # End loop %> 